
.portfolio-item-title {position: absolute; width: auto; bottom: 0; left: 0; font-size: 7px; color: #fff; margin:0; padding: 4px;
	/* color background: */
	background-color: #F6250D;
.folio-item .overlay-inner {text-align: center;}
